# JSON Lab

### Intro and objectives
#### Learn how to process JSON data in data science contexts

### In this lab you will learn:
1. How to open and process JSON files using Python
2. How to open and process JSON files using Python Pandas

In [1]:
import pandas as pd
import json

# JSON data

#### JSON data are collections of key-value pairs. Quite used to exchange data accross internet services

In [2]:
json_Object = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

In [3]:
json_Object

'\n{"name": "Wes",\n "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],\n "pet": null,\n "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},\n              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]\n}\n'

In [4]:
type(json_Object)

str

In [5]:
another_Json_Object='{"name":"John", "age":30, "car":null}'

In [6]:
another_Json_Object

'{"name":"John", "age":30, "car":null}'

In [7]:
type(another_Json_Object)

str

## 1. Opening JSON data

In [8]:
result = json.loads(json_Object)

In [9]:
result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [10]:
type(result)

dict

### We can retrieve JSON files from the internet and have them processed using the json library

In [11]:
import urllib.request, json 
with urllib.request.urlopen("https://raw.githubusercontent.com/thousandoaks/Python4DS201/main/data/iris.json") as url:
    iris_DataSet = json.load(url)

In [12]:
type(iris_DataSet)

list

In [13]:
iris_DataSet[0:3]

[{'sepalLength': 5.1,
  'sepalWidth': 3.5,
  'petalLength': 1.4,
  'petalWidth': 0.2,
  'species': 'setosa'},
 {'sepalLength': 4.9,
  'sepalWidth': 3.0,
  'petalLength': 1.4,
  'petalWidth': 0.2,
  'species': 'setosa'},
 {'sepalLength': 4.7,
  'sepalWidth': 3.2,
  'petalLength': 1.3,
  'petalWidth': 0.2,
  'species': 'setosa'}]

In [14]:
type(iris_DataSet[0])

dict

### Even better we can use Pandas to open JSON data

In [15]:
pd.read_json("https://raw.githubusercontent.com/thousandoaks/Python4DS201/main/data/iris.json")

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

## 2. Processing JSON data (simple structure)

#### In the case of simple,flat, JSON datasets it is advisable to cast JSON data into a Pandas DataFrame and have it processed using Pandas capabilities.

In [16]:
iris_DataFrame=pd.read_json("https://raw.githubusercontent.com/thousandoaks/Python4DS201/main/data/iris.json")

In [17]:
iris_DataFrame.sample(3)

     sepalLength  sepalWidth  petalLength  petalWidth    species
143          6.8         3.2          5.9         2.3  virginica
120          6.9         3.2          5.7         2.3  virginica
108          6.7         2.5          5.8         1.8  virginica

In [18]:
iris_DataFrame['sepalLength']+iris_DataFrame['sepalWidth']

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Length: 150, dtype: float64

## 2. Processing Nested JSON data 
#### Oftentimes JSON data is nested. In this case it is advisable to spend some time exploring how the data is structured
#### Use pandas.json_normalize() to select and process the data you need for your analysis

In [19]:
usFoodDataFrame=pd.read_json('https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/usda_food/database.json')

In [20]:
usFoodDataFrame.sample(3)

,id,description,tags,manufacturer,group,portions,nutrients
4116,21081,"Fast foods, nachos, with cinnamon and sugar",[],,Fast Foods,"[{'amount': 1, 'unit': 'portion (6-8 nachos)',...","[{'value': 6.6, 'units': 'g', 'description': '..."
777,7933,"Chicken breast, oven-roasted, fat-free, sliced",[],,Sausages and Luncheon Meats,"[{'amount': 1, 'unit': 'serving 2 slices', 'gr...","[{'value': 16.79, 'units': 'g', 'description':..."
2926,16570,"GARDENBURGER, Black Bean Chipotle Burger",[],"Kellogg, Co.",Legumes and Legume Products,"[{'amount': 1, 'unit': 'patty', 'grams': 71.0}]","[{'value': 6.6, 'units': 'g', 'description': '..."

In [21]:
## Let's expand the column display

pd.options.display.max_colwidth = 500

In [22]:
usFoodDataFrame.sample(3)

,id,description,tags,manufacturer,group,portions,nutrients
2872,16427,"Tofu, raw, regular, prepared with calcium sulfate",[],,Legumes and Legume Products,"[{'amount': 1, 'unit': 'cup', 'grams': 124.0}, {'amount': 2, 'unit': 'block', 'grams': 116.0}]","[{'value': 8.08, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 4.78, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 1.88, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 0.72, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 76.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 84.55, 'units': 'g', 'description': 'Water', 'group': 'Composit..."
1265,9087,"Dates, deglet noor",[],,Fruits and Fruit Juices,"[{'amount': 1, 'unit': 'cup, chopped', 'grams': 147.0}, {'amount': 2, 'unit': 'date, pitted', 'grams': 7.1}]","[{'value': 2.45, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 0.39, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 75.03, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 1.6, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 282.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 23.84, 'units': 'g', 'description': 'Sucrose', 'group': 'Sugar..."
990,8259,"Cereals ready-to-eat, KELLOGG, KELLOGG'S CRISPIX",[Includes USDA Commodity B855],"Kellogg, Co.",Breakfast Cereals,"[{'amount': 1, 'unit': 'cup (1 NLEA serving)', 'grams': 29.0}, {'amount': 2, 'unit': 'cup (laboratory weight)', 'grams': 30.0}]","[{'value': 6.7, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 1.0, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 85.7, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 3.5, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 377.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 0.0, 'units': 'g', 'description': 'Alcohol, ethyl', 'group': 'Oth..."

In [23]:
usFoodDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6636 non-null   int64
 1   description   6636 non-null   object
 2   tags          6636 non-null   object
 3   manufacturer  5195 non-null   object
 4   group         6636 non-null   object
 5   portions      6636 non-null   object
 6   nutrients     6636 non-null   object
dtypes: int64(1), object(6)
memory usage: 363.0+ KB

#### We notice that this data has two nested variables: portions and nutrients

In [24]:
import urllib.request, json 
with urllib.request.urlopen("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/usda_food/database.json") as url:
    foodDataSet_json = json.load(url)

In [25]:
type(foodDataSet_json)

list

In [26]:
type(foodDataSet_json[0])

dict

#### From the previous result we notice that foodDataSet_json is a list of dictionaries

#### We process the JSON object using pandas.json_normalize() method

In [27]:
pd.json_normalize(foodDataSet_json)

,id,description,tags,manufacturer,group,portions,nutrients
0,1008,"Cheese, caraway",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]","[{'value': 25.18, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 29.2, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 3.06, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 3.28, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 376.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 39.28, 'units': 'g', 'description': 'Water', 'group': 'Compos..."
1,1009,"Cheese, cheddar",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'cup, diced', 'grams': 132.0}, {'amount': 2, 'unit': 'cup, melted', 'grams': 244.0}, {'amount': 3, 'unit': 'cup, shredded', 'grams': 113.0}, {'amount': 4, 'unit': 'oz', 'grams': 28.35}, {'amount': 5, 'unit': 'cubic inch', 'grams': 17.0}, {'amount': 6, 'unit': 'slice (1 oz)', 'grams': 28.0}]","[{'value': 24.9, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 33.14, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 1.28, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 3.93, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 403.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 0.24, 'units': 'g', 'description': 'Sucrose', 'group': 'Sugar..."
2,1018,"Cheese, edam",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}, {'amount': 2, 'unit': 'package (7 oz)', 'grams': 198.0}]","[{'value': 4.22, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 24.99, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 27.8, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 1.43, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 4.22, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 357.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, ..."
3,1019,"Cheese, feta",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'cup, crumbled', 'grams': 150.0}, {'amount': 2, 'unit': 'oz', 'grams': 28.35}, {'amount': 3, 'unit': 'cubic inch', 'grams': 17.0}, {'amount': 4, 'unit': 'wedge (1.33 oz)', 'grams': 38.0}]","[{'value': 5.2, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 14.21, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 21.28, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 4.09, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 5.2, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 264.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {..."
4,1028,"Cheese, mozzarella, part skim milk",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]","[{'value': 3.27, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 24.26, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 15.92, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 2.77, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 3.27, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 254.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'},..."
...,...,...,...,...,...,...,...
6631,42161,"Bologna, beef, low fat",[],,Sausages and Luncheon Meats,"[{'amount': 1, 'unit': 'slice', 'grams': 28.0}, {'amount': 2, 'unit': 'cubic inch', 'grams': 14.0}, {'amount': 3, 'unit': 'slice, medium', 'grams': 28.0}, {'amount': 5, 'unit': 'slice, thick', 'grams': 43.0}, {'amount': 6, 'unit': 'slice, thin', 'grams': 14.0}]","[{'value': 11.8, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 14.8, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 5.2, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 3.2, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 204.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 0.0, 'units': 'g', 'description': 'Alcohol, ethyl', 'group': 'Ot..."
6632,42173,"Turkey and pork sausage, fresh, bulk, patty or link, cooked",[],,Sausages and Luncheon Meats,"[{'amount': 1, 'unit': 'cup, cooked', 'grams': 130.0}, {'amount': 2, 'unit': 'oz', 'grams': 28.0}, {'amount': 3, 'unit': 'oz cooked, yield', 'grams': 21.0}, {'amount': 4, 'unit': 'patty, cooked', 'grams': 25.0}]","[{'value': 22.7, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 23.0, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 0.7, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 2.7, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 307.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 0.0, 'units': 'g', 'description': 'Alcohol, ethyl', 'group': 'Ot..."
6633,43408,"Babyfood, juice, pear",[],None,Baby Foods,"[{'amount': 1, 'unit': 'fl oz', 'grams': 31.2}, {'amount': 2, 'unit': 'bottle Earth's Best (4.2 fl oz)', 'grams': 131.0}, {'amount': 3, 'unit': 'bottle Heinz Strained (4 fl oz)', 'grams': 125.0}, {'amount': 4, 'unit': 'bottle Gerber First Food (4 fl oz)', 'grams': 125.0}, {'amount': 5, 'unit': 'bottle Beech-Nut Stage I (4 fl oz)', 'grams': 125.0}, {'amount': 6, 'unit': 'bottle NFS', 'grams': 125.0}]","[{'value': 0.0, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 0.0, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 11.86, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 0.24, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 47.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 0.0, 'units': 'g', 'description': 'Alcohol, ethyl', 'group': 'Ot..."
6634,43539,"Babyfood, dessert, banana yogurt, strained",[],None,Baby Foods,"[{'amount': 1, 'unit': 'tbsp', 'grams': 15.0}, {'amount': 2, 'unit': 'jar NFS', 'grams': 113.0}, {'amount': 3, 'unit': 'jar Gerber Second Food (4 oz)', 'grams': 113.0}, {'amount': 4, 'unit': 'jar Beech-Nut Stage 2 (4 oz)', 'grams': 113.0}, {'amount': 5, 'unit': 'jar Heinz Strained-2 (4.25 oz)', 'grams': 120.0}]","[{'value': 1.1, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 0.52, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 17.4, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 0.33, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 79.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 0.0, 'units': 'g', 'description': 'Alcohol, ethyl', 'group': 'Ot..."
6635,43546,"Babyfood, banana no tapioca, strained",[],None,Baby Foods,"[{'amount': 1, 'unit': 'tbsp', 'grams': 15.0}, {'amount': 2, 'unit': 'jar NFS', 'grams': 113.0}, {'amount': 3, 'unit': 'jar Beech-Nut Baby's First (2.5 oz)', 'grams': 71.0}, {'amount': 4, 'unit': 'jar Beech-Nut Stage I (4 oz)', 'grams': 113.0}, {'amount': 5, 'unit': 'jar Gerber First Foods (2.5 oz)', 'grams': 71.0}, {'amount': 6, 'unit': 'jar Earth's Best (4.5 oz)', 'grams': 128.0}, {'amount': 7, 'unit': 'jar Heinz Beginner-1 (2.5 oz)', 'grams': 71.0}]","[{'value': 1.0, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}, {'value': 0.2, 'units': 'g', 'description': 'Total lipid (fat)', 'group': 'Composition'}, {'value': 21.34, 'units': 'g', 'description': 'Carbohydrate, by difference', 'group': 'Composition'}, {'value': 0.76, 'units': 'g', 'description': 'Ash', 'group': 'Other'}, {'value': 91.0, 'units': 'kcal', 'description': 'Energy', 'group': 'Energy'}, {'value': 0.0, 'units': 'g', 'description': 'Alcohol, ethyl', 'group': 'Ot..."

### Let's extract portions

In [28]:
type(foodDataSet_json)

list

In [29]:
type(foodDataSet_json[0])

dict

In [30]:
foodDataSet_json[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [31]:
foodDataSet_json[0]['portions']

[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]

In [32]:
foodDataSet_json[1]['portions']

[{'amount': 1, 'unit': 'cup, diced', 'grams': 132.0},
 {'amount': 2, 'unit': 'cup, melted', 'grams': 244.0},
 {'amount': 3, 'unit': 'cup, shredded', 'grams': 113.0},
 {'amount': 4, 'unit': 'oz', 'grams': 28.35},
 {'amount': 5, 'unit': 'cubic inch', 'grams': 17.0},
 {'amount': 6, 'unit': 'slice (1 oz)', 'grams': 28.0}]

In [33]:
# Flatten portions
pd.json_normalize(foodDataSet_json, record_path=['portions'])

       amount                                 unit   grams
0           1                                   oz   28.35
1           1                           cup, diced  132.00
2           2                          cup, melted  244.00
3           3                        cup, shredded  113.00
4           4                                   oz   28.35
...       ...                                  ...     ...
11140       3  jar Beech-Nut Baby's First (2.5 oz)   71.00
11141       4         jar Beech-Nut Stage I (4 oz)  113.00
11142       5      jar Gerber First Foods (2.5 oz)   71.00
11143       6            jar Earth's Best (4.5 oz)  128.00
11144       7        jar Heinz Beginner-1 (2.5 oz)   71.00

[11145 rows x 3 columns]

#### The result looks great but doesnâ€™t include the id which is required to uniquely identify each food. To include it, we can use the argument meta to specify a list of metadata we want in the result.

In [34]:
pd.json_normalize(
    foodDataSet_json, 
    record_path =['portions'],
    meta=['id'],
)

       amount                                 unit   grams     id
0           1                                   oz   28.35   1008
1           1                           cup, diced  132.00   1009
2           2                          cup, melted  244.00   1009
3           3                        cup, shredded  113.00   1009
4           4                                   oz   28.35   1009
...       ...                                  ...     ...    ...
11140       3  jar Beech-Nut Baby's First (2.5 oz)   71.00  43546
11141       4         jar Beech-Nut Stage I (4 oz)  113.00  43546
11142       5      jar Gerber First Foods (2.5 oz)   71.00  43546
11143       6            jar Earth's Best (4.5 oz)  128.00  43546
11144       7        jar Heinz Beginner-1 (2.5 oz)   71.00  43546

[11145 rows x 4 columns]

In [35]:
pd.json_normalize(
    foodDataSet_json, 
    record_path =['portions'],
    meta=['id','description'],
)

,amount,unit,grams,id,description
0,1,oz,28.35,1008,"Cheese, caraway"
1,1,"cup, diced",132.00,1009,"Cheese, cheddar"
2,2,"cup, melted",244.00,1009,"Cheese, cheddar"
3,3,"cup, shredded",113.00,1009,"Cheese, cheddar"
4,4,oz,28.35,1009,"Cheese, cheddar"
...,...,...,...,...,...
11140,3,jar Beech-Nut Baby's First (2.5 oz),71.00,43546,"Babyfood, banana no tapioca, strained"
11141,4,jar Beech-Nut Stage I (4 oz),113.00,43546,"Babyfood, banana no tapioca, strained"
11142,5,jar Gerber First Foods (2.5 oz),71.00,43546,"Babyfood, banana no tapioca, strained"
11143,6,jar Earth's Best (4.5 oz),128.00,43546,"Babyfood, banana no tapioca, strained"
11144,7,jar Heinz Beginner-1 (2.5 oz),71.00,43546,"Babyfood, banana no tapioca, strained"

In [36]:
foodPortionsDataFrame=pd.json_normalize(
    foodDataSet_json, 
    record_path =['portions'],
    meta=['id','description'],
)

In [37]:
foodPortionsDataFrame

,amount,unit,grams,id,description
0,1,oz,28.35,1008,"Cheese, caraway"
1,1,"cup, diced",132.00,1009,"Cheese, cheddar"
2,2,"cup, melted",244.00,1009,"Cheese, cheddar"
3,3,"cup, shredded",113.00,1009,"Cheese, cheddar"
4,4,oz,28.35,1009,"Cheese, cheddar"
...,...,...,...,...,...
11140,3,jar Beech-Nut Baby's First (2.5 oz),71.00,43546,"Babyfood, banana no tapioca, strained"
11141,4,jar Beech-Nut Stage I (4 oz),113.00,43546,"Babyfood, banana no tapioca, strained"
11142,5,jar Gerber First Foods (2.5 oz),71.00,43546,"Babyfood, banana no tapioca, strained"
11143,6,jar Earth's Best (4.5 oz),128.00,43546,"Babyfood, banana no tapioca, strained"
11144,7,jar Heinz Beginner-1 (2.5 oz),71.00,43546,"Babyfood, banana no tapioca, strained"

### Let's extract nutrients

In [38]:
# Flatten nutrients
pd.json_normalize(foodDataSet_json, record_path=['nutrients'])

          value units                         description        group
0        25.180     g                             Protein  Composition
1        29.200     g                   Total lipid (fat)  Composition
2         3.060     g         Carbohydrate, by difference  Composition
3         3.280     g                                 Ash        Other
4       376.000  kcal                              Energy       Energy
...         ...   ...                                 ...          ...
389350    0.000   mcg                 Vitamin B-12, added     Vitamins
389351    0.000    mg                         Cholesterol        Other
389352    0.072     g        Fatty acids, total saturated        Other
389353    0.028     g  Fatty acids, total monounsaturated        Other
389354    0.041     g  Fatty acids, total polyunsaturated        Other

[389355 rows x 4 columns]

In [39]:
foodNutrientsDataFrame=pd.json_normalize(
    foodDataSet_json, 
    record_path =['nutrients'],
    meta=['id'],
)

In [40]:
foodNutrientsDataFrame

          value units                         description        group     id
0        25.180     g                             Protein  Composition   1008
1        29.200     g                   Total lipid (fat)  Composition   1008
2         3.060     g         Carbohydrate, by difference  Composition   1008
3         3.280     g                                 Ash        Other   1008
4       376.000  kcal                              Energy       Energy   1008
...         ...   ...                                 ...          ...    ...
389350    0.000   mcg                 Vitamin B-12, added     Vitamins  43546
389351    0.000    mg                         Cholesterol        Other  43546
389352    0.072     g        Fatty acids, total saturated        Other  43546
389353    0.028     g  Fatty acids, total monounsaturated        Other  43546
389354    0.041     g  Fatty acids, total polyunsaturated        Other  43546

[389355 rows x 5 columns]