# List and Dictionaries Comprehensions Lab

### Intro and objectives
#### Learn how to apply comprehensions in data science contexts

### In this lab you will learn:
1. List comprehensions
2. Dictionary comprehensions

In [1]:
import pandas as pd

# List Comprehensions

#### List comprehensions are a convenient and widely used Python language feature. They allow you to concisely form a new list by filtering the elements of a collection, transforming the elements passing the filter into one concise expression.

In [2]:
strings = ["Hi", "Hola", "Ni Hao", "salut"]

In [3]:
[string.upper() for string in strings]

['HI', 'HOLA', 'NI HAO', 'SALUT']

In [4]:
[len(string) for string in strings]

[2, 4, 6, 5]

####Â You can even apply a filtering condition to a list comprehension

In [5]:
[string.upper() for string in strings if len(string)>4]

['NI HAO', 'SALUT']

### List comprehensions in Pandas DataFrames
#### List comprehensions are quite useful when you need to process lists embedded in Pandas DataFrames

In [6]:
import pandas as pd

In [7]:
carsDataFrame=pd.DataFrame({"brand": ["Tesla", "Mercedes", "BMW", "Volkswagen", "Toyota", "Lexus"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "model": ['A400', 'GLA', '400','Golf', 'Prius', 'L200'],
        "typesoffuel":[['electric'],['diesel','petrol','electric'],['diesel','petrol'],['diesel','petrol','electric'],['diesel','petrol','electric'],['diesel','petrol','electric']]                                                })

In [8]:
carsDataFrame

        brand  year  model                 typesoffuel
0       Tesla  2000   A400                  [electric]
1    Mercedes  2001    GLA  [diesel, petrol, electric]
2         BMW  2002    400            [diesel, petrol]
3  Volkswagen  2001   Golf  [diesel, petrol, electric]
4      Toyota  2002  Prius  [diesel, petrol, electric]
5       Lexus  2003   L200  [diesel, petrol, electric]

In [9]:
[fuel for fuel in carsDataFrame['typesoffuel']]

[['electric'],
 ['diesel', 'petrol', 'electric'],
 ['diesel', 'petrol'],
 ['diesel', 'petrol', 'electric'],
 ['diesel', 'petrol', 'electric'],
 ['diesel', 'petrol', 'electric']]

In [10]:
carsDataFrame['typesoffuel'].apply(lambda row:[ fuel.upper() for fuel in row])

0                    [ELECTRIC]
1    [DIESEL, PETROL, ELECTRIC]
2              [DIESEL, PETROL]
3    [DIESEL, PETROL, ELECTRIC]
4    [DIESEL, PETROL, ELECTRIC]
5    [DIESEL, PETROL, ELECTRIC]
Name: typesoffuel, dtype: object

In [11]:
carsDataFrame['typesoffuelCapitalized']=carsDataFrame['typesoffuel'].apply(lambda row:[ fuel.upper() for fuel in row])

In [12]:
carsDataFrame

,brand,year,model,typesoffuel,typesoffuelCapitalized
0,Tesla,2000,A400,[electric],[ELECTRIC]
1,Mercedes,2001,GLA,"[diesel, petrol, electric]","[DIESEL, PETROL, ELECTRIC]"
2,BMW,2002,400,"[diesel, petrol]","[DIESEL, PETROL]"
3,Volkswagen,2001,Golf,"[diesel, petrol, electric]","[DIESEL, PETROL, ELECTRIC]"
4,Toyota,2002,Prius,"[diesel, petrol, electric]","[DIESEL, PETROL, ELECTRIC]"
5,Lexus,2003,L200,"[diesel, petrol, electric]","[DIESEL, PETROL, ELECTRIC]"

# Dictionary Comprehensions

#### Dictionary comprehensions are not as common as list comprehensions.

In [13]:
aCar={'brand':'Ford','model':'Mustang','year':'1964'}
aCar

{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'}

In [14]:
{item for item in aCar.items()}

{('brand', 'Ford'), ('model', 'Mustang'), ('year', '1964')}

# Comprehensions of a List of Dictionaries

#### Indeed comprehensions can be applied to process list of dictionaries.
#### This is a common use case in applied data science contexts

In [15]:
aCar={'brand':'Ford','model':'Mustang','year':'1964'}
aCar

{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'}

In [16]:
anotherCar={'brand':'Mercedes','model':'GLA','year':'2020'}
anotherCar

{'brand': 'Mercedes', 'model': 'GLA', 'year': '2020'}

In [17]:
yetAnotherCar={'brand':'Volkswagen','model':'Golf','year':'2022'}
yetAnotherCar

{'brand': 'Volkswagen', 'model': 'Golf', 'year': '2022'}

In [18]:
cars=[aCar, anotherCar, yetAnotherCar]

In [19]:
cars

[{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'},
 {'brand': 'Mercedes', 'model': 'GLA', 'year': '2020'},
 {'brand': 'Volkswagen', 'model': 'Golf', 'year': '2022'}]

In [20]:
[car for car in cars]

[{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'},
 {'brand': 'Mercedes', 'model': 'GLA', 'year': '2020'},
 {'brand': 'Volkswagen', 'model': 'Golf', 'year': '2022'}]

In [21]:
[type(car) for car in cars]

[dict, dict, dict]

In [22]:
[car['brand'] for car in cars]

['Ford', 'Mercedes', 'Volkswagen']

In [23]:
[car['model'] for car in cars]

['Mustang', 'GLA', 'Golf']

In [24]:
[(car['model'],car['brand']) for car in cars]

[('Mustang', 'Ford'), ('GLA', 'Mercedes'), ('Golf', 'Volkswagen')]